* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body {
  background-color: #fff;
  color: #333;
  font-family: "Montserrat", times, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 25px 25px 0;
  text-rendering: optimizelegibility;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

figure {
  background: url('./marino.jpg') 50% 50% no-repeat;
  background-size: cover;
  margin: 0;
  width: 250px;
  height: 225px;
}

h1, p {
  margin: 25px 0;
}

h1 {
  font-weight: 600;
  line-height: 1.4;
}

svg {
  fill: #333;
  vertical-align: middle;
}

.social {
  border: 0;
  margin: 40px 10px 0 0;
  opacity: 0.6;
  padding: 0;
}

.social:hover {
  opacity: 1;
}



 /* Desktop */

@media screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
  }

  body > * {
    flex: 1 1 auto;
    height: 100vh;
    max-width: 50%
  }

  article {
    align-items: center;
    display: flex;
    padding: 4rem;
  }

  a:not(.social):hover {
    animation: pulse 0.5s infinite;
    background: #fff;
    border-color: transparent;
    border-radius: 100%;
    box-shadow: 0 0 15px 10px #fff;
  }

  figure {
    height: auto;
    width: auto;
  }

  @keyframes pulse {
    50% {
      transform: scale(1.05);
    }
  }
}



/* Sprinkles */

@supports (mix-blend-mode: soft-light) {
  body:after {
    background-image: linear-gradient(-135deg, #90F7EC 0%, #32CCBC 100%);
    bottom: 0;
    content: '';
    left: 0;
    mix-blend-mode: soft-light;
    position: fixed;
    pointer-events: none;
    right: 0;
    top: 0;
  }
}
