* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body {
  background-color: #fff;
  color: #333;
  font-family: "Montserrat", times, sans-serif;
  font-size: 20px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  margin: 0;
  padding: 25px 25px 0;
  text-rendering: optimizelegibility;
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  color: inherit;
  padding-bottom: 1px;
  text-decoration: none;
}

article {
}

figure {
  background: url('./marino.jpg') 50% 50% no-repeat;
  background-size: cover;
  margin: 0;
  width: 250px;
  height: 225px;
}

h1, p {
  margin: 25px 0;
}

h1 {
  font-weight: 600;
  line-height: 1.4;
}

svg {
  fill: currentColor;
  vertical-align: middle;
}

.social {
  border: 0;
  color: #888;
  display: inline-block;
  margin-right: 10px;
  padding: 0;
}

.twitter:hover  { color: #1DA1F2; }
.dribbble:hover { color: #EA4C89; }
.github:hover   { color: #181717; }



 /* Desktop */

@media screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
  }

  body > * {
    flex: 1 1 auto;
    height: 100vh;
    max-width: 50%
  }

  article {
    align-items: center;
    display: flex;
    padding: 4rem;
  }

  figure {
    height: auto;
    width: auto;
  }
}
